#Cabecera {
    background-color: #010409;
    color: #E6EDF3;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #343A40;
}

#Cabecera nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Cabecera nav div:first-child {
    display: flex;
    align-items: center;
    margin-left: 6%;
}

#Cabecera nav div:last-child {
    display: flex;
    align-items: center;
    margin-right: 6%;
}

#Cabecera h2 {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#Cabecera img {
    height: 40px;
}

#Cabecera button {
    background-color: #010409;
    color: #E6EDF3;
    border-radius: 7px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#Cabecera button:hover {
    background-color: #25262B;
}

#Cabecera nav div button:last-child{
    margin-right: 0px;
}