//Colores para modo dark
$Cabecera_dark: #010409;
$Blanco_dark: #E6EDF3;
$Sombra_dark: #25262B;
$Fondo_dark: #0D1117;
$Boton_dark: #343A40;
$Switch_dark: #0F1E3D;
$Sombra_Switch_dark: #1D4165;
//Colores para modo light
$Cabecera_light: #FFFFFF; //
$Negro_light: #010409;
$Fondo_light: #F2F2F2; //
$Sombra_ligh: #cfc9c9;
$Switch_light: #FDBE4A; 
$Sombra_Switch_light: #BBDADD;

#Cabecera {
    background-color: $Cabecera_dark;
    color: $Blanco_dark;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: 1px solid #343A40;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            display: flex;
            align-items: center;
        }

        div{
            #Icono{
                color: $Blanco_dark;
                font-size: 40px;
            }
        }
    }

    h2{
        font-size: 25px;
        margin-right: 20px;
        margin-left: 20px;
    }

    img{
        height: 40px;
    }
    
    .boton-cabecera{
        background-color: $Cabecera_dark;
        font-size: 15px;
        color: $Blanco_dark;
        border-radius: 7px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .boton-cabecera:hover{
        background-color: $Sombra_dark;
    }

    .switch{
        background-color: $Switch_dark;
        border: none;
        font-size: 14px;
        border-radius: 1000px;
        height: 32px;
        width: 64px;
        position: relative;
        display: flex;
        outline: none;
        cursor: pointer;
        transition: all 0.3s;

        &::after{
            content: "";
            border: none;
            display: block;
            width: 28px;
            height: 28px;
            position: absolute;
            background-color: $Cabecera_dark;
            top: 2px;
            left: 2px;
            right: unset;
            border-radius: 100%;
            transition: all 0.3s;
        }

        span{
            width: 32px;
            border: none;
            text-align: center;
            align-items: center;
            height: 32px;
            line-height: 32px;
            z-index: 10;
            i{
                line-height: 32px;
                transition: all 0.3s;
            }
        }

        span:first-child{
            color: $Blanco_dark;
            i {
                height: 32px;
                width: 32px;
                display: block;
            }
        }

        span:last-child{
            color:$Switch_dark;

            i {
                height: 32px;
                width: 32px;
                display: none;
            }
        }
    }

    .switch:hover{
        background-color: $Sombra_Switch_dark;

        &::after{
            background-color: $Fondo_dark;
        }

        span:first-child{
            color: white;
        };

        span:last-child{
            color: $Sombra_Switch_dark;
        }
    }
}

