table {
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    table-layout: fixed;
}

td {
    border: 1px solid #E6EDF3;
    padding-top: 6px;
    padding-bottom: 6px;
}

tr:first-child{
    background-color: #25262B;
}

td:first-child{
    width: 150px;
}