#Tabla{
    margin-top: 20px;
}

#Tabla span{
    display: block;
    padding: 7px;
}
table {
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    table-layout: fixed;
}

td {
    border: 1px solid #E6EDF3;
}

tr:first-child{
    background-color: #25262B;
}

td:first-child{
    width: 150px;
}