table {
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 6px;
}

th{
    background-color: #272727;
}
